@media screen and (min-width: 428px) {
.container {
    max-width: 428px;
}

} 

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
}

.header {
    padding: 0;
}

.header-logo {
margin-right: 120px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-contacts-list {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: auto; */
    justify-content: right;
    gap: 12px;
}

.header-contacts-item {
    color: var(--slate, #434455);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
    display: none;
}

.main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-tab.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-section {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab-2x.jpg);
    }
}

.button-order {
        margin-top: 36px;
    }

.menu-item {
    width: calc((100% - 24px) / 2);
    
    
}

.business-strategies {
    gap: 72px 24px;
}

.name-menu-item {
    text-align: left;
}

.team-members-list {
    gap: 64px 24px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: center;
    justify-content: center;
}

.container.footer-wrap {
width: 100%;
justify-content: left;
align-items: first baseline;
/* margin-left: 108px;
padding-left: 0; */
}

.info-container {
    margin-right: 24px;
    
}

.footer {
    padding: 100px 93px;
}

.footer-logo {
    display: inline-block; 
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
}

.footer-social-media {
    margin-top: 
    
}

.social-media {
    justify-content: left;
}

.hamburger {
    display: none;
}
} 

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .header {
        padding: 0;
    }

    .header-container {
    display: flex;
    align-items: center;
}

.header-logo {
margin-right: 76px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-contacts-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
}

    .header-contacts-item {
    color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
    display: none;
}

    .main-section {
        padding: 188px 0;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-section {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
}

    .main-title {
    color: var(--white, #fff);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
}

    .button-order {
        margin-top: 48px;
    }

    .menu-item {
    width: calc((100% - 3 * 24px) / 4);
    }
    
    .name-menu-item {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }

    .menu-text {
    font-weight: 400;
}

    .strategies-icon-wrap{
    display: flex;
}
    .third-section {
    padding-bottom: 120px;
    display: flex;
}

    .fourth-section {
    padding: 120px 0;
}
    .team-members-list {
    display: flex; 
    gap: 24px;
}

    .fifth-section {
    padding: 120px 0;
}
.customers-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
    .customers-item {
    width: 168px;
    height: 88px;
    flex-shrink: 0;
}

    .footer {
    padding: 100px 0;
}


.container.footer-wrap {
    display: flex;
    align-items: baseline;
    /* margin-left: 0; */
    /* padding-left: 15px; */
}
.info-container {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
}
.footer-social-media {
    margin-right: 80px;
}
.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
}

.hamburger {
    display: none;
}
}