@media screen and (min-width: 428px) {
.container {
    max-width: 428px;
}

} 

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
}

.menu-item {
    width: calc((100% - 24px) / 2);
    
    
}

.business-strategies {
    gap: 72px 24px;
}

.name-menu-item {
    text-align: left;
}

.team-members-list {
    gap: 64px 24px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    align-items: center;
    justify-content: center;
}

.container.footer-wrap {
width: 100%;
}

.info-container {
    margin-right: 24px;
    
}

.footer-logo {
    display: inline-block; 
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
}

.footer-social-media {
    margin-top: 
    
}

.social-media {
    justify-content: left;

}
} 

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .menu-item {
    width: calc((100% - 3 * 24px) / 4);
    }
    
    .name-menu-item {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }

    .menu-text {
    font-weight: 400;
}

    .strategies-icon-wrap{
    display: flex;
}
    .third-section {
    padding-bottom: 120px;
    display: flex;
}

    .fourth-section {
    padding: 120px 0;
}
    .team-members-list {
    display: flex; 
    gap: 24px;
}

    .fifth-section {
    padding: 120px 0;
}
.customers-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
    .customers-item {
    width: 168px;
    height: 88px;
    flex-shrink: 0;
}

.container.footer-wrap {
    display: flex;
    align-items: baseline;
}
.info-container {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
}
.footer-social-media {
    margin-right: 80px;
}
.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    width: 264px;
    height: 40px;
}
}